body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display: grid;
  grid-template-rows: 1ft 1fr;
  grid-template-columns:  clamp(100px, 300px, 400px)  1fr;
}
.menu-bar{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color:cornflowerblue;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-bar-heading{
  display: flex;
  align-items: center;
  padding: 20px;
}
.menu-bar-heading h3{
  font-size: 30px;

}
.menu-bar-heading img{
  height: 50px;
  padding-right: 10px;
}
.menu-bar ul{
  list-style: none;

  padding: 20px;

}
.menu-bar ul li{
  font-size: 24px;
}

.top-bar{
  height: 200px;
  background: white;
  box-shadow: 5px 0px 5px 5px #888888;
  z-index: 2;
}
.top-bar-search{
  height: auto;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 30px 30px;

}
.top-bar-search img{
  height: 50px;
  display: inline;
}
.top-bar input{
  border: none;
  border-radius: 2em;
  height: 50px;
  width: 90%;
  background: #e6ecff;
}
.main-section{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: calc(100vh - 200px);
  display: grid;
  grid-template-columns: .75fr .25fr; 
  background-color: #e6faff; 
}
.project-block{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

}
.main-container{
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.announce-block{
  
}
.trending-block{

}
.icon{
  height: 25px;
  width: auto;
  padding-right: 40px;
  display: inline;
}
